:root {
    --menu-speed: 0.75s;
  }
.home{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}