body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #70B6E4;
  background-image: url('./assets/Fundo.png'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}
.container {
  text-align: center;
  border-radius: 10px;
  color:#1E4DD9;
}
.container-index{
  text-align: left;
  border-radius: 10px;
  color:#1E4DD9;
}
input {
  margin-bottom: 10px;
  padding: 12px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  color: rgb(103, 117, 117);
  background-color: rgb(226, 226, 226);
  
  text-align: center;
  border: 0.5px solid gray; /* Define uma borda cinza com 1 pixel de espessura */
  border-radius: 10px;
  
  width: 300px;
}

.email-recover {
  max-width: 300px;
  width: 300px;
  
}
.button-container button {
  margin-right: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
 padding: 10px;
 border-radius: 5px;
 color: rgb(103, 117, 117);
 background-color: rgb(226, 226, 226);
 width: 200px;
 box-shadow: 2px 2px rgb(75, 75, 75);
 border: 1px solid gray; /* Define uma borda cinza com 1 pixel de espessura */
 

}

.texto-preencher {
  max-width: 450px;
  color:  rgb(103, 117, 117);
}

.senha {
width: 395px;
}

a {
  color: rgb(103, 117, 117);
  text-decoration: none;
}




/* ........... */

.box-1 { 
  background-color: #A2C3E2;
  width: 150px;
 }


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: rgb(255, 255, 255);
  transition: all 0.3s;
  position: relative;
  max-width: 150px;
  margin: 10px;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 56, 139, 0.24);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.botoes {
  align-items: center;
  margin: 12px;

}

.login {
  margin-left: 200px;
  margin-top: -59.5px;
}


/* ,,,,,,,,,,,,,,,,,,, */

.logosenai img {
  width: 20%;
  text-align: center;
  margin-left: 39%;
  margin-top: 60px;
  padding: 15px;
}




/* avatar */

.avatar {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: -10%;
  
}



.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.m-2{
  margin: 12px;
}

.p-4{
  padding: 24px;
}



#form-form{
  & .image-upload{
      position: relative;
      width: 200px;
      height: 200px;
      border: 4px solid darkblue;
      border-radius: 100%;
      box-shadow: 2px 3px 12px #00000060;
      overflow: hidden;
      margin-bottom: 20px;
      
  }

  & .image-upload img{
      object-fit: cover;
  }

  & .image-upload i{
      position: absolute;
      margin: 0 auto;
      font-size: 50px;
      color: rgb(0, 77, 128);
  }

  & #image-field{
      position: absolute;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      opacity: 0;
      cursor: pointer;
  }
}


/* forms usuario */


.perfilforms {
  margin-top: 30px;
}

