body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url('./assets/Fundo.png'); 
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.container {
  text-align: center;
  border-radius: 10px;
  color:#1E4DD9;
}
input {
  margin-bottom: 10px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  color: rgb(103, 117, 117);
  background-color: rgb(226, 226, 226);
  box-shadow: 2px 2px rgb(75, 75, 75);
}

.button-container button {
  margin-right: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
 padding: 10px;
 border-radius: 5px;
 color: rgb(103, 117, 117);
 background-color: rgb(226, 226, 226);
 

}