body {
  padding: 0;
  margin: 0;
  background-color: #a1c2e3;
  font-family: Arial, Helvetica, sans-serif;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #70B6E4;
  background-image: url('./assets/Fundo.png'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 105% auto;
  border-radius: 10px;
  color:#1E4DD9;
  z-index: 2;
  position: relative
}
.mainLogo{
  max-width: 8rem; 
  text-align: center;
}
.container-index{
  text-align: left;
  border-radius: 10px;
  color:#1E4DD9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.senha {
  padding: 12px;
  color: rgb(103, 117, 117);
  background-color: rgb(226, 226, 226);
  text-align: left;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 17px;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgba(236, 236, 236, 0.699);
  border: 1px solid #1e4dda;
}
.senha::placeholder{
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}
.container-index p:hover{
  text-decoration: underline;
}
.svgWave{
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
.email-recover {
  max-width: 300px;
  width: 300px;
  
}
.button-container button {
  margin-right: 15px;
  cursor: pointer;
}

.container-index h3, .container-index a{

  width: 100%;
}


.texto-preencher {
  max-width: 450px;
  color:  rgb(103, 117, 117);
}

.senha {
width: 395px;
}

a {
  color: rgb(103, 117, 117);
  text-decoration: none;
}




/* ........... */

.box-1 { 
  background-color: #A2C3E2;
  width: 150px;
 }


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: rgb(255, 255, 255);
  transition: all 0.3s;
  position: relative;
  max-width: 150px;
  margin: 10px;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 56, 139, 0.24);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.botoes {
  align-items: center;
  margin: 12px;

}

.login {
  margin-left: 200px;
  margin-top: -59.5px;
}


/* ,,,,,,,,,,,,,,,,,,, */

.logosenai img {
  width: 20%;
  text-align: center;
  margin-left: 39%;
  margin-top: 60px;
  padding: 15px;
}




/* avatar */

.avatar {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: -10%;
  
}



.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.m-2{
  margin: 12px;
}

.p-4{
  padding: 24px;
}


/* 
#form-form{
  & .image-upload{
      position: relative;
      width: 200px;
      height: 200px;
      border: 4px solid darkblue;
      border-radius: 100%;
      box-shadow: 2px 3px 12px #00000060;
      overflow: hidden;
      margin-bottom: 20px;
      
  } */

  /* & .image-upload img{
      object-fit: cover;
  }

  & .image-upload i{
      position: absolute;
      margin: 0 auto;
      font-size: 50px;
      color: rgb(0, 77, 128);
  }

  & #image-field{
      position: absolute;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      opacity: 0;
      cursor: pointer;
  }
} */


/* forms usuario */


.perfilforms {
  margin-top: 30px;
}


