.form-container {
  max-width: 400px;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
 
}



.form-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .logo-container {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #1E4DD9;
}

.form-container .form {
 
  flex-direction: column;
 
}

.titulo {
   color: #1E4DD9;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2px;
  width: 90%;
}
#email{
  width: 100%;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #707E8C;
}

.form-container .form-submit-btn {
  display: flex;
  margin-top: 30%;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #70B6E4;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
  background-color: #508fb9;
}

.form-container .link {
  color: #1778f2;
  text-decoration: none;
}

.form-container .signup-link {
  align-self: center;
  font-weight: 500;
  color: black;
}

.form-container .signup-link .link {
  font-weight: 400;
  color: #1778f2;
}

.form-container .link:hover {
  text-decoration: underline;
}



.enviar {
  margin-left: 200px;
  margin-top: 10px;
}

.voltar {
  display: flex;
  align-items: center;
  margin-top: -89.7px;
}

.mainLogo{
  max-width: 8rem; 
  text-align: center;
  margin-top: -40;
}

.centro {
  align-items: center;
  align-content: center;
  margin-left: 25px;
 }


 .footer {
  margin-left: 30px;
  margin-top: 30px;
 }